.collection-item {
    display: flex;
    justify-content: space-between;
}

.trash {
    color: red;
}

.thumb {
    color: dodgerblue;
}

.material-icons {
    cursor: pointer;
}
.song-list {
    color: black;
}